<ion-header>

  <ion-navbar>
    <ion-title>Apply for Validation from {{validator.displayName}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>REQUIREMENTS</ion-list-header>

      <ion-item *ngFor="let req of validator.requirements">
        <!-- <ion-icon icon-end name="{{req.icon}}" [ngClass]="{'req-not-met': !req.isComplete, 'req-met': req.isComplete}"></ion-icon> -->
        {{req}}
      </ion-item>
  </ion-list>


    <button class="group-button" ion-button [disabled]="!allRequirementsMet" (click)="apply()" >
      <span *ngIf="!hasApplied">Apply</span>
      <span *ngIf="hasApplied">Applied</span>
    </button>


</ion-content>
