<ion-header>
  <ion-navbar color="primary">
    <ion-title>Circles - {{pageTitle}}</ion-title>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      Validators:
      <div *ngFor="let val of user?.validators" class="profileItem">
        <img class="profile-item" src="{{val.profilePicURL}}">
      </div>
    </ion-item>
    <ion-item>
      Profile pic: <img class="profile-pic" src="{{profilePicURL}}">
      <button ion-button (click)="openCamera()">Open camera</button>
      <button ion-button (click)="selectFromGallery()">Select from gallery</button>
    </ion-item>
    <ion-item>
      Name: {{user?.displayName}}
    </ion-item>
    <ion-item>
      Greeting: {{user?.greeting}}
    </ion-item>
    <ion-item>
      <h3>Auth Providers</h3>
      Email: {{user?.email}}<br>
      Facebook: false<br>
      Google: false
    </ion-item>

    <ion-item>
      Offers:
      <div *ngFor="let offer of user?.offers" class="profileItem">
        <img class="profile-item" src="{{offer.profilePicURL}}">
      </div>
    </ion-item>
</ion-list>
</ion-content>
