<ion-header>
  <ion-navbar color="secondary">
    <ion-title></ion-title>
    <ion-buttons left>
      <a menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </a>
    </ion-buttons>
    <ion-buttons right>
      <a icon-only (click)="openSearch()">
        <ion-icon name="search"></ion-icon>
      </a>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding id="profile-content">

<span ion-fixed class="profile-fixed" style="height: 100%; width: 100%">
  <!--
    <ion-item>
      Validators:
      <div *ngFor="let val of user?.validators" class="profileItem">
        <img class="profile-item" src="{{val.profilePicURL}}">
      </div>
    </ion-item>-->

    <div class="profile-pic">
      <div class="circle-crop"
        [ngStyle]="{'background-image': 'url(' + profilePicURL + ')'}">
        <!--<img src="{{profilePicURL}}">-->
      </div>
      <button ion-button (click)="openCamera()">Open camera</button>
      <button ion-button (click)="selectFromGallery()">Select from gallery</button>

       <div class="user-name">
        {{user?.displayName}}
      </div>

      <div class="balance">
        {{user?.balance}} css
      </div>

    </div>

    <!--<ion-item>Greeting: {{user?.greeting}}</ion-item>-->

    <ion-item>
      <ion-segment [(ngModel)]="view" color="primary">
        <ion-segment-button class="offer-segment-button" value="network" (ionSelect)="selectNetwork()">
          Network
        </ion-segment-button>
        <ion-segment-button class="offer-segment-button" value="wants" (ionSelect)="selectHistory()">
          History
        </ion-segment-button>
        <ion-segment-button class="offer-segment-button" value="validators" (ionSelect)="selectValidators()">
          Validators
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <ion-item>
      Total received : {{user?.totalReceived}} | Total sent: {{user?.totalSent}}
    </ion-item>

    <ion-content overflow-scroll="true" class="scrolling-list">
    <span *ngIf="selectedView == 'network' && user?.trustedUsers">
      <ion-item *ngFor="let networkUser of networkList" (click)="goToUserDetail(networkUser)">
        <ion-avatar style="width:48px;height:48px" item-left>
          <img src="{{networkUser.profilePicURL}}">
        </ion-avatar>
        <h2>{{networkUser.displayName}}</h2>
        <p>{{networkUser.greeting}}</p>
      </ion-item>
    </span>
    <span *ngIf="selectedView == 'history'">
      <ion-item *ngFor="let newsItem of newsService.allnewsItemsReversed$ | async" (click)="goToNewsItem(newsItem)">
        <ion-avatar style="width:48px;height:48px" item-left>
          <img src="{{user.profilePicURL}}">
        </ion-avatar>
        <h2>{{newsItem.title}}</h2>
        <p>{{newsItem.newsItem}} Cirlces from {{userService.keyToUserName$(newsItem.from)}} to {{userService.keyToUserName$(newsItem.to)}}</p>
      </ion-item>
    </span>

    <span *ngIf="selectedView == 'validators'">
      <ion-item *ngFor="let validator of validatorList" (click)="goToValidatorDetail(validator)">
        <ion-avatar style="width:48px;height:48px" item-left>
          <img src="{{validator?.profilePicURL}}">
        </ion-avatar>
        <h2>{{validator?.displayName}}</h2>
        <p>{{validator?.description}}</p>
      </ion-item>
    </span>
    </ion-content>

</span>

</ion-content>
