<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card style="box-shadow: 0 0;overflow:visible;">
     <img src="{{viewUser.profilePicURL}}">
     <ion-card-content style="padding: 0;">
      <ion-card-title>
       <h1>{{viewUser.displayName}}</h1>
       <p *ngIf="directTrust == true">Connection: {{user.displayName}} - {{viewUser.displayName}}
       <p *ngIf="validatorTrust == true">Connection: {{user.displayName}} - {{this.validatedBy.displayName}} - {{viewUser.displayName}} </p>
       <h2>{{viewUser.greeting}}</h2>
      </ion-card-title>
       <ion-list no-lines>
         <ion-item>
           <ion-icon name="mail" item-left></ion-icon>
           <p>{{viewUser.email}}</p>
         </ion-item>

         <ion-item>
         <ion-icon name="phone-portrait" item-left></ion-icon>
         + 49 1023893933
         </ion-item>

       </ion-list>

       <ion-card style="margin:12px 0;width:100%">
        <ion-card-header>
          Trade Message
        </ion-card-header>
        <ion-card-content>
          {{viewUser.tradeMessage}}
        </ion-card-content>
      </ion-card>

      <button ion-button full *ngIf="trusted"  (click)="sendCircles()" icon-end>
        Send Circles
        <ion-icon name="arrow-dropright-circle">
        </ion-icon>
      </button>

      <button ion-button full *ngIf="!trusted" (click)="affordTrust()" icon-end>
          Afford Trust
         <ion-icon name="lock" color="red">
         </ion-icon>
      </button>

      <button ion-button full *ngIf="trusted" (click)="revokeTrust()" icon-end>
        Revoke Trust
        <ion-icon name="unlock" color="green" item-right>
        </ion-icon>
      </button>

     </ion-card-content>
   </ion-card>
</ion-content>
