validator
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card class="shadowless-card">
    <ion-card-title>
      <h1>{{validator.displayName}}</h1>
      <h2>{{validator.greeting}}</h2>
    </ion-card-title>
    <ion-card-content>
     <img src="{{validator.profilePicURL}}">
     <span *ngIf="directTrust">
       <ion-avatar style="width:48px;height:48px" item-center>
         <img src="{{user.profilePicURL || genericProfilePicURL}}">
       </ion-avatar>
     </span>
      <ion-list no-lines>
        <ion-item>
          <ion-icon name="mail" item-left></ion-icon>
          <p>{{validator.email}}</p>
        </ion-item>
        <ion-item *ngIf="trusted" (click)="revokeTrust()">
          Revoke Trust Validation
          <ion-icon name="unlock" color="green" item-right>
          </ion-icon>
        </ion-item>
        <ion-item *ngIf="trusted">
          <ion-badge>Trusted</ion-badge>
          <ion-icon name="send" item-right>
          </ion-icon>
        </ion-item>
        <ion-card style="margin:12px 0;width:100%">
        <ion-card-header>
            Description
          </ion-card-header>
          <ion-card-content>
            {{validator.description}}
          </ion-card-content>
        </ion-card>
        <div class="horizontal-center-wrapper">
          <button ion-button *ngIf="!trusted" (click)="checkRequirements()" icon-end>
            <span *ngIf="!applied">Check Validator Requirements</span>
            <ion-icon name="lock" color="red" item-right></ion-icon>
          </button>
        </div>
        <ion-item>
          <ion-icon name="people" item-left></ion-icon>
          <ion-grid>
        		<ion-row>
        			<ion-col *ngFor="let u of trustedUsers">
                <ion-avatar style="width:48px;height:48px">
                  <img src="{{u.profilePicURL}}">
                </ion-avatar>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
